<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        :root {}
        body {
            margin: 0;
        }
        .contenedor {
            display: flex;
            height: 100vh;
        }
        .item {
            background-color: aquamarine;
            width: 40%;
        }
        .colordiferente {
            background-color: rgb(248, 226, 198);
        }
        .item2 {
            background-color: rgb(228, 13, 13);
            width: 20%;
        }
        .imagen{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <div class="contenedor">
        <div class="item colordiferente">
            <form action="/visualize" method="post">
                <div class="label">
                    <div class="subitems">
                        <p>Atipicos</p>
                        <label for="">Activado</label>
                        <input type="radio" name="correcion" value="activado" required >
                        <label for="">Desactivado</label>
                        <input type="radio" name="correcion" value="desactivado" required>
                    </div>
                    <div class="subitems">
                        <label for="">Factor Alfa</label>
                        <input type="range" min="1,5" max="3" value="" name="factoralfa" id="FactorAlfa">
                    </div>
                    <div class="subitems">
                        <p>varaibles de entrada</p>
                        <label for="">length</label>
                        <input type="checkbox" name="variable" value="length">
                        <label for="">diameter</label>
                        <input type="checkbox" name="variable" value="diameter">
                        <label for="">height</label>
                        <input type="checkbox" name="variable" value="height">
                        <label for="">whole weight</label>
                        <input type="checkbox" name="variable" value="whole weight">
                        <label for="">shucked weight</label>
                        <input type="checkbox" name="variable" value="shucked weight">
                        <label for="">viscera weight</label>
                        <input type="checkbox" name="variable" value="viscera weight">
                        <label for="">shell weight</label>
                        <input type="checkbox" name="variable" value="shell weight">
                        <label for="">rings</label>
                        <input type="checkbox" name="variable" value="rings">
                    </div>
                    <div class="subitems">
                        <p>varaible de salida</p>
                        <select name="variablesalida" id="">
                            <option value="no">sin variable de salida</option>
                            <option value="length">length</option>
                            <option value="diameter">diameter</option>
                            <option value="height">height</option>
                            <option value="whole weight">whole weight</option>
                            <option value="shucked weight">shucked weight</option>
                            <option value="viscera weight">viscera weight</option>
                            <option value="shell weight">shell weight</option>
                            <option value="rings">rings</option>
                        </select>
                    </div>
                    <div class="subitem">
                        <p>modelo o scatter? (para dos variables)</p>
                        <select name="modelo2" id="">
                            <option value="no">scatter</option>
                            <option value="si">modelo</option>
                        </select>
                    </div>
                    <div class="subitems">
                        <!-- vamosssss aca -->
                        <p>tamaño de entrenamiento</p>
                        <input type="number" min="0" max="100" name="tamañoentrenamiento">
                    </div>
                    <div class="subitems">
                        <p>grafica</p>
                        <select name="tipografica" id="">
                            <option value="normalizacion">normalizacion</option>
                            <option value="diagrama de bigotes">diagrama de bigotes</option>
                            <option value="dispersion">dispersion</option>
                        </select>
                    </div>
                    <div class="subitems">
                        <input type="submit" value="generar">
                    </div>
                </div>
            </form>
        </div>
        <div class="item">
            <div class="subitems">
                <p>before</p>
                <img style="width: 100%;" class="imagen" src="{{datas[0]}}" alt="no se pudo encontrar">
            </div>
            <div class="subitems">
                <p>after</p>
                <img style="width: 100%;" src="{{datas[1]}}" alt="">
            </div>
        </div>
        <div class="item2">
            <div class="subitems">
                <h1>rmse</h1>
                <h2>{{datas[2]}}</h2>
            </div>
        </div>
    </div>
    <script>
        $(".checks").on("click", function(){
            if($( ".checks:checked").length > 2){
                $('#btn').prop('disabled', true);
            }
            else {
                $('#btn').prop('disabled', false);
                $('#atipi').prop('disabled', false);
                $('#atipi2').prop('disabled', false);
                $('#FactorAlfa').prop('disabled', false);
                $('#taman').prop('disabled', false);
                $('#mode1').prop('disabled', false);
                $('#model2').prop('disabled', false);
                $('#drop1').prop('disabled', false);
                $('#drop2').prop('disabled', false);
                $('#drop3').prop('disabled', false);   
            }
        }
        );
    </script>
</body>

</html>